@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100svh;
  background: #e6a769;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.main {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}
.main-title {
  width: 40%;
  margin: -7% auto 0;
  display: block;
}

.btn-start {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 32px;
  margin: -4vh auto 0;
  font-size: 3vw;
  line-height: 1;
  font-weight: bold;
  border-radius: 32px;
  border: none;
  background: #8b2b19;
  color: #efd4a4;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
  display: block;
  cursor: pointer;
}
.btn-start.none {
  display: none;
}

.draft-result {
  padding: 16px 0;
  margin-top: -4vh;
  font-size: 3vw;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.draft-result.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.draft-result span {
  margin: 0 12px;
  color: #000;
  font-weight: bold;
  display: block;
}
.draft-result .player {
  width: 10vw;
  text-align: center;
}